const account = {
    serverId: "<serverId>",
    username: "<username>",
    password: "<password>",
    challenge: {      // 冒险/真火/镇妖塔
        count: 50,    // 挑战次数
        interval: 10, // 挑战间隔 单位为秒
    },
    rules: [
        { ItemId: 100004, minItemLv: 3, isCheck: true, description: "仙桃" },
        { ItemId: 100025, minItemLv: 5, isCheck: false, description: "净瓶水" },
        { ItemId: 100000, minItemLv: 5, isCheck: false, description: "仙玉" },
        { ItemId: 100003, minItemLv: 5, isCheck: false, description: "灵石" },
        { ItemId: 100029, minItemLv: 5, isCheck: false, description: "琉璃珠" },
        { ItemId: 100044, minItemLv: 5, isCheck: false, description: "天衍令" },
        { ItemId: 100047, minItemLv: 5, isCheck: false, description: "昆仑铁" },
    ],
    switch: {
        homeland: true,  // 福地自动总开关
        chopTree: true,  // 自动砍树
        talent: false,   // 自动灵脉 TODO
        herorank: false, // 光速群英榜 
    },
    chopTree: {
        stop: { // 砍树停止条件
            num: 10000,   // 桃子数量<该数
            level: 375,   // 玩家等级等于该数 设置为渡劫等级
        },
        separation: {
            quality: 11,          // 最低品质
            fightValueOffset: 0,  // 妖力偏移值 能接受妖力低于该百分比 新装备妖力 >= 当前装备妖力 * ( 1 - fightValueOffset )
            probOffset: 0.2,      // 概率偏移值 概率大于该百分比直接穿上 比如当前是 16% 的概率 设置为0.1 那么大于16% x ( 1 + 0.2 ) = 19.2%
            condition:[
                [5],              // 元体 反击
                [6, 7],           // 阳神 连爆
                [8]               // 阴身 闪避
            ]
        },
    },
    
    reconnectInterval: 60000 * 30, // 重连间隔
}

export default account;



// "1": "凡品",
// "2": "下品",
// "3": "中品",
// "4": "上品",
// "5": "极品",
// "6": "仙品",
// "7": "完美",
// "8": "先天",
// "9": "至宝",
// "10": "灵宝1星",
// "11": "灵宝2星",
// "12": "灵宝3星",
// "13": "灵宝4星",
// "14": "灵宝5星",
// "15": "真宝1星",
// "16": "真宝2星",
// "17": "真宝3星",
// "18": "真宝4星",
// "19": "真宝5星",
// "20": "灵器1星",
// "21": "灵器2星",
// "22": "灵器3星",
// "23": "灵器4星",
// "24": "灵器5星",
// "25": "神器1星",
// "26": "神器2星",
// "27": "神器3星",
// "28": "神器4星",
// "29": "神器5星",
// "30": "仙器1星",
// "31": "仙器2星",
// "32": "仙器3星",
// "33": "仙器4星",
// "34": "仙器5星"


// "1": "攻击",
// "2": "生命",
// "3": "防御",
// "4": "敏捷",
// "5": "击晕",
// "6": "暴击",
// "7": "连击",
// "8": "闪避",
// "9": "反击",
// "10": "吸血",
// "11": "抗击晕",
// "12": "抗暴击",
// "13": "抗连击",
// "14": "抗闪避",
// "15": "抗反击",
// "16": "抗吸血",
// "50001": "玄武",
// "50002": "白虎",
// "50003": "螣蛇",
// "50004": "勾陈",
// "50005": "青龙",
// "50006": "朱雀"
